/*--Header--*/
header{
    background-color: rgb(250, 249, 248);
    height: 10%;
    width: 100%;
}
#logo {
    top: 10px;
    position: absolute;
    margin-left: 20px;
    text-decoration: none;
}
/*--End-Header--*/

#hero-image{
    height: 800px;
    width: 50%;
    background: url(../images/triangles.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#title{
    color:#0a0a0a;
    font-size: 70px;
    text-align:center;
    margin-top: 40%;

}
#small-letter{
    font-size: 20px;
    text-align:justify;
    margin-left: 50px;
}
.row{
    --bs-gutter-x: 9.0rem;
}
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 800px;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
}